.git
.env
.env.*
!.env.example
**/.git
**/tests
**/__pycache__
**/*.pyc
volumes
doc
provision
.workflow-scripts
.docker-config

.infra-release-tools
.workflow-release-images
.release-images
.release-image
